@charset "utf-8";
/* CSS Document */
h1 {
color:black;
	font-family: LeonPavlisa;
	line-height: 18px;
	width: 600px;
	background-color: yellow;
	padding: 20px;
	}
h2{
	color: white;
}
p{
	color:white;
}
.pozadina{
	background-image: url("slike/roza.jpg");
    background-color: purple
}
